<link rel="stylesheet" href="./stylesheets/index.css">
<div class="home">
    <div class="jumbotron">
        <h1>欢迎来到微博系统</h1>
        <p>微博，是基于用户关系的社交媒体平台，用户可以通过PC、手机等多种移动终端接入，以文字、图片、视频等多媒体形式，实现信息的即时分享、传播互动 。
            微博基于公开平台架构，提供简单、前所未有的方式使用户能够公开实时发表内容，通过裂变式传播，让用户与他人互动并与世界紧密相连。</p>
        <div class="home-btn">
            <button type="button" class="btn btn-success">登录</button>
            <a class="btn btn-outline-success register-btn" href="/register" role="button">立即注册</a>
        </div>
        <div class="row row-cols-sm-1 row-cols-md-3 g-4 home-cards">
            <% cardList.forEach(v=>{ %>
                <div class="col">
                    <div class="card h-100">
                        <img src="<%= v.url %>" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text"><%= v.text %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
